#pj{color: rgb(22, 169, 159)}
#f{ color : orangered;
        border:3px double green;
    padding : 15px }
    #Chaos{color:blue;
    margin: 25px}
    #blood{padding : 15px}
    #d:hover{color:palevioletred}  
    p{background-color: tomato;}
    p{display: block;
    width: 33%;}
    #bruh{margin:25px;}